<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
          <li>
            <a href="{{ site.baseurl }}/steps/intro.html" {% if page.url == "/steps/intro.html" %}class = "active"{% endif %}>Introduction</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/data_modelling.html" {% if page.url == "/steps/data_modelling.html" %}class = "active"{% endif %}>Data modelling</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/sql.html" {% if page.url == "/steps/sql.html" %}class = "active"{% endif %}>SQL</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/mysql.html" {% if page.url == "/steps/mysql.html" %}class = "active"{% endif %}>MySQL</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/steps/mysql_and_nodejs.html" {% if page.url == "/steps/mysql_and_nodejs.html" %}class = "active"{% endif %}>MySQL and NodeJS</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/mysql_and_expressjs.html" {% if page.url == "/steps/mysql_and_expressjs.html" %}class = "active"{% endif %}>MySQL and ExpressJS</a>
                </li>
            </ul>
          </li>
          <li>
              <a href="{{ site.baseurl }}/steps/concepts.html" {% if page.url == "/steps/concepts.html" %}class = "active"{% endif %}>Concepts</a>
              <ul>
                  <li>
                      <a href="{{ site.baseurl }}/steps/running_sql_scripts.html" {% if page.url == "/steps/running_sql_scripts.html" %}class = "active"{% endif %}>Running SQL scripts</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/steps/add_csv_data_to_db.html" {% if page.url == "/steps/add_csv_data_to_db.html" %}class = "active"{% endif %}>Populate a database</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/steps/mysql_bulk_insert_using_nodejs.html" {% if page.url == "/steps/mysql_bulk_insert_using_nodejs.html" %}class = "active"{% endif %}>MySQL bulk insert using NodeJS</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/steps/constraints.html" {% if page.url == "/steps/constraints.html" %}class = "active"{% endif %}>Database constraints</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/steps/aggregation.html" {% if page.url == "/steps/aggregation.html" %}class = "active"{% endif %}>Aggregation</a>
                  </li>
              </ul>
          </li>
    </ul>
  </nav>
</footer>
