<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
          <li>
            <a href="{{ site.baseurl }}/steps/intro.html" {% if page.url == "/steps/intro.html" %}class = "active"{% endif %}>Introduction</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/data_modelling.html" {% if page.url == "/steps/data_modelling.html" %}class = "active"{% endif %}>Data modelling</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/sql.html" {% if page.url == "/steps/sql.html" %}class = "active"{% endif %}>SQL</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/mysql.html" {% if page.url == "/steps/mysql.html" %}class = "active"{% endif %}>MySQL</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/steps/aggregation.html" {% if page.url == "/steps/aggregation.html" %}class = "active"{% endif %}>Aggregation</a>
          </li>
    </ul>
  </nav>
</footer>
